{% extends "layouts/main.html" %}

{% block pageTitle %}
  Address not found – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">
        <h1 class="govuk-heading-l">No address found</h1>
        <p>We could not find an address that matches <b>wr11nl</b> and <b>1</b>. You can search again or enter the address manually.</p>
        <p><a href="#">Search again</a></p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
        </div>

    </div>
  </div>

{% endblock %}
