{% extends "layouts/main.html" %}

{% block pageTitle %}
  Eligible – {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You are eligibile to apply for funding
      </h1>


      <p>You meet the eligibility criteria to apply for electric vehicle charging point funding.</p>

      <p>You may now submit an application.</p>


      {{ govukButton({
        text: "Apply now",
        href: "/name",
        isStartButton: true
      }) }}


    </div>

  </div>

{% endblock %}
