{% extends "layouts/main.html" %}

{% block pageTitle %}
  Name – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/name-decide" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter your full name",
                href: "#"
              }
            ]
          }) }}

        {{ govukInput({
          label: {
            text: "Enter your full name",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-20",
          id: "width-20",
          name: "name",
          value: data['name'],
          errorMessage: {
            text: "Enter your full name"
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}