{% extends "layouts/main.html" %}

{% block pageTitle %}
  Electric vehicle ownership – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/vehicle-decide" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "vehicleAns",
          value: data['vehicleAns'],
          fieldset: {
            legend: {
              text: "Are you the registered keeper of an eligible electric vehicle?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Y",
              text: "Yes"
            },
            {
              value: "N",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  

{% endblock %}
