{% extends "layouts/main.html" %}

{% block pageTitle %}
  Address location – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/address-location-decide" method="post">
        <!-- if address is UK (Y), go to address-lookup, otherwise (N) ineligible -->

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "addressLocAns",
          value: data['addressLocAns'],
          fieldset: {
            legend: {
              text: "Where is your property located?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Y",
              text: "England, Wales, Scotland, or Northern Ireland"
            },
            {
              value: "N",
              text: "Other - for example the Channel Islands or the Isle of Man"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
