{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vehicle Registration Number – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/vehicle-vrn-decide" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Enter your Vehicle Registration Number",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, BD51 SMR"
          },
          classes: "govuk-input--width-10",
          id: "width-10",
          name: "vehicleVRN",
          value: data['vehicleVRN']
        }) }}


        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
